 /* Remove up and down arrows in number input */
 input[type=number]::-webkit-inner-spin-button,
 input[type=number]::-webkit-outer-spin-button {
     -webkit-appearance: none;
     margin: 0;
 }

 input[type=number] {
     appearance: textfield;
     /* Firefox */
 }

 /* Active Tab */
 .tab-active {
     border-bottom: 2px solid #000000;
     /* Tailwind orange-500 */
     color: #000000;
 }

 #thumbnail-container {
     max-height: 70px;
 }